name: Deploy .NET Aspire App to Azure

on:
  push:
    branches: [ master ]

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Install .NET Aspire
        run: dotnet tool install -g Microsoft.DotNet.Aspire

      - name: Add dotnet tools to PATH
        run: echo "$HOME/.dotnet/tools" >> $GITHUB_PATH

      # - name: Azure Login (OIDC)
      #   uses: azure/login@v2
      #   with:
      #     client-id: ${{ secrets.AZURE_CLIENT_ID }}
      #     tenant-id: ${{ secrets.AZURE_TENANT_ID }}
      #     subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      #     enable-oidc: true

      - name: Deploy via .NET Aspire
        run: dotnet aspire deploy ./src/Nexus.AppHost/Nexus.AppHost.csproj \
                --resource-group rg-customerorder-prod \
                --environment Production \
                --location eastus
